.card
{
    padding: 30 30 20 30;
    border-width: 3;
    border-color: #243b7a;
    border-radius: 15;
    background-color: white;
    margin: 20;
    width: 46%;

}
.questionaries-answer
{
    border-width: 2;
    border-color: #ccc;
    background-color: white;
    padding: 15 40;
    font-size: 25;
    margin-right: 20;
    display: none;
    border-radius: 10;
}
.questionaries-answer-active
{
    color: white;
    background-color: #243b7a;
    border-color:243b7a;
  
}
.q-answnerList
{
    margin: 20 0;

    width: 100%;
    vertical-align: middle;
    
}
.q-answnerList *
{
  
    vertical-align: middle;
    
}
.input-fields
{
    border-width: 1;
    border-color: #ccc !important;
    background-color: white;
    padding: 15 ;
    border-radius:5 ;
    font-size: 25;
    width: 100%;
    font-family: 500;
    color: rgb(126, 126, 126) !important;
    height: 75;
    margin: 15;

}
Switch
{
    width: 100;
    height: 50;
}

.questionaries-title
{
    font-size: 30;
    font-weight: 500;
    padding:0 0 15 20;
}

label
{
    color: #07235c;
}