<DockLayout stretchLastChild="true" >
 
    <app-header  height="15%" dock="top" > </app-header>
<Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8" >
    
    <StackLayout orientation="vertical"  >
      
        <!-- <WrapLayout orientation="horizontal" width="100%">                    
                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="All DOGS must be members of West Street Dog. Please see a bartender to sign up!"></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList" >    
                        <TextField hint="Enter text" class="input-fields">
             </TextField>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="Humans must be 21+ to enter the off-leash park. Don’t forget a valid ID!"></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList">    
                        <TextView hint="Enter some text..."   class="input-fields">
              </TextView>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="All canine and human visitors enter this area at their own risk!"></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList">    
                        <Label class="questionaries-title" textWrap="true" text="Humans"></Label> <Switch color="#07235c" backgroundColor="#557dd3" offBackgroundColor="#ddd">
                        </Switch>  <Label class="questionaries-title" textWrap="true" text="Humans"></Label>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="Dogs are to be OFF LEASH ONLY in this area."></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList">    
                        <CheckBox #CB1 text="CheckBox Label" checked="false"></CheckBox>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="West Street Dog will not be involved in any disputes between patrons and/or members. Be kind 😊"></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList">    
                          <Label class="questionaries-answer questionaries-answer-active" textWrap="true" text="YES"></Label>
                          <Label class="questionaries-answer" textWrap="true" text="NO"></Label>
                    </StackLayout>
                </StackLayout>
        </WrapLayout> -->


        <StackLayout orientation="Vertical" backgroundColor="">
            <StackLayout orientation="vertical" backgroundColor="" >
             
              <WrapLayout orientation="horizontal" width="100%"> 
                    <StackLayout orientation="vertical" width="31%" style=" padding:10 15; background-color:#fff ;margin: 15;border-radius: 15;" class="border-btn">
                        <Label textWrap="true" style=" text-align:left;" class="pt-30 questionaries-title" text="AM"></Label>
                        <TextView hint="Amount" class="input-fields pt-30"></TextView>
                        <TextView hint="Unit" class="input-fields pt-30"></TextView>
                        <TextView hint="Notes" class="input-fields pt-30"></TextView>
                    </StackLayout>

                    <StackLayout orientation="vertical" width="31%" style=" padding:10 15; background-color:#fff ;margin: 15;border-radius: 15;" class="border-btn">
                        <Label textWrap="true" style=" text-align:left;" class="pt-30 questionaries-title" text="Noon"></Label>
                        <TextView hint="Amount" class="input-fields pt-30"></TextView>
                        <TextView hint="Unit" class="input-fields pt-30"></TextView>
                        <TextView hint="Notes" class="input-fields pt-30"></TextView>  </StackLayout>

                    <StackLayout orientation="vertical" width="31%" style=" padding:10 15; background-color:#fff ;margin: 15;border-radius: 15;" class="border-btn">
                        <Label textWrap="true" style=" text-align:left;" class="pt-30 questionaries-title" text="PM"></Label>
                        <TextView hint="Amount" class="input-fields pt-30"></TextView>
                        <TextView hint="Unit" class="input-fields pt-30"></TextView>
                        <TextView hint="Notes" class="input-fields pt-30"></TextView></StackLayout>

                        <StackLayout orientation="vertical" width="47.5%" style=" padding:10 15; background-color:#fff ;margin: 15;border-radius: 15;" class="border-btn">
                            <Label textWrap="true" style=" text-align:left;" class="pt-30 questionaries-title" text="Feeding Type"></Label>
                            <TextView hint="Feeding Type" class="input-fields pt-30"></TextView>
                           </StackLayout>

                            <StackLayout orientation="vertical" width="47.5%" style=" padding:10 15; background-color:#fff ;margin: 15;border-radius: 15;" class="border-btn">
                                <Label textWrap="true" style=" text-align:left;" class="pt-30 questionaries-title" text="Feeding Method"></Label>
                                <TextView hint="Select Feeding Method" class="input-fields pt-30"></TextView></StackLayout>

                                <StackLayout orientation="vertical" width="97%" style=" padding:10 15; background-color:#fff ;margin: 15;border-radius: 15;" class="border-btn">
                                    <Label textWrap="true" style=" text-align:left;" class="pt-30 questionaries-title" text="Notes"></Label>
                                    <TextView hint="Notes" class="input-fields pt-30"></TextView></StackLayout>
                        
                </WrapLayout>
            </StackLayout>
        </StackLayout>

                    
        <StackLayout orientation="horizontal" horizontalAlignment="center" >
            <Button text="Back" row="0" cols="1" horizontalAlignment="center" class="text-aligncenter center custom-primary"
                style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button>
            <Button text="Done" row="0" cols="2" horizontalAlignment="center" class="text-aligncenter center  green-color" 
                style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button> 
        </StackLayout>

    </StackLayout>
</Scrollview>
</DockLayout>