<DockLayout stretchLastChild="true">
    <app-header height="15%" dock="top"> </app-header>
    <app-footer dock="bottom" height="7%"></app-footer>
    <ScrollView orientation="Vertical" height="100%" class="body-bg-1" row="1">
        <ScrollView orientation="Vertical">
            <StackLayout class=" " orientation="vertical" width="100%" *ngIf="invoiceDetails" horizonalAlignment="center">
                <StackLayout class=" pt-30" orientation="horizontal" width="100%">
                    <Label class="head-name "  *ngIf="type==='check-in'" text="ESTIMATE"
                            style="font-size: 35;font-weight: 700;text-align: center;"></Label>
                    <Label class="head-name "  *ngIf="type==='check-out'" text="INVOICE"
                        style="font-size: 35;font-weight: 700; text-align: center;"></Label>
                </StackLayout>


                <Label class="head-name "  *ngFor="let pet of invoiceDetails.itemGroups" text="INVOICE"
                        style="font-size: 35;font-weight: 700; text-align: center;"></Label>

                <StackLayout orientation="vertical" *ngFor="let pet of invoiceDetails.itemGroups">
                    <GridLayout class="bottm-border pt-30" columns="*,120" rows=" auto" orientation="horizontal" width="100%" *ngFor="let item of pet.items">
                        <StackLayout width="100%"  row="0" col="0">
                            <Label class=" " style="font-size:18;" text="{{item.name}}" *ngIf="item.type != 'PACKAGE_ADJUSTMENT'"></Label>
                            <Label class=" " style="font-size:15;" text="Package Credit: {{item.name}}" *ngIf="item.type == 'PACKAGE_ADJUSTMENT'"></Label>
                            <Label class=" " style="font-size:15;" text="{{item.quantity}} * ${{item.amount ? item.amount.toFixed(2) : '0'}}"></Label>
                            <Label class=" " style="font-size:15;" text="Tax - {{item.tax}}%" *ngIf="item.tax > 0"></Label>
                            <Label class=" " style="font-size:15;" text="Discount - item.discount" *ngIf="item.discount > 0"></Label>
                        </StackLayout>
                        <StackLayout width="100%"  row="0" col="1">
                            <Label  style="font-size:18; text-align:right; padding-top:30;" text="$ {{item.payableAmount ? item.payableAmount.toFixed(2) : '0'}}" *ngIf="!item.isNegative"></Label>
                            <Label  style="font-size:18; text-align:right; padding-top:30; color: red;" text="-$ ({{item.payableAmount ? item.payableAmount.toFixed(2) : '0'}})" *ngIf="item.isNegative"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>

                <GridLayout class="bottm-border" columns="*,120" rows="auto" orientation="horizontal" width="100%">
                    <StackLayout width="100%" class="pt-30 " row="0" col="0">
                        <Label class=" bolder " style="font-size:18;" text="ITEM TOTAL"></Label>
                    </StackLayout>
                    <StackLayout width="100%"  class="pt-30 "row="0" col="1">
                        <Label class=" bolder " style="font-size:18; text-align: right ;" text="$ {{invoiceDetails.itemTotal ? invoiceDetails.itemTotal.toFixed(2) : '0'}}"></Label>
                    </StackLayout>
                </GridLayout>

                <StackLayout orientation="vertical" *ngIf="invoiceDetails.payments">
                    <GridLayout class="bottm-border" columns="*,120" rows="auto" orientation="horizontal" width="100%" *ngFor="let payment of invoiceDetails.payments">
                        <StackLayout width="100%" class="pt-30 " row="0" col="0">
                            <Label class=" " style="font-size:15;" text="Deposit" *ngIf="payment.transactionType == 'Deposit'"></Label>
                            <Label style="font-size:18;" *ngIf="payment.paymentMode=='CARD_PRESENT' || payment.paymentMode == 'CARD_NOT_PRESENT'" text="{{payment.cardType}} - {{payment.last4Digit}} on"></Label>
                            <Label style="font-size:18;" *ngIf="payment.paymentMode=='CHEQUE'" text="Check - {{payment.chequeNumber}} on"></Label>
                            <Label style="font-size:18;" *ngIf="payment.paymentMode=='CASH'" text="Cash on"></Label>
                            <Label class=" " style="font-size:15;" text="Paid On : {{getReadableDateShort(payment.paymentDate)}}"></Label>
                          </StackLayout>
                        <StackLayout width="100%"  row="0" col="1">
                            <Label  style="font-size:15;text-align:right; padding-top:30; padding-right:18;" text="$ {{payment.paidAmount ? payment.paidAmount.toFixed(2) : '0'}}"
                            ></Label>
                         </StackLayout>
                    </GridLayout>
                </StackLayout>

                <GridLayout class="bottm-border" columns="*,120" rows="auto" orientation="horizontal" width="100%" *ngIf="invoiceDetails.balanceDue > 0 && invoiceDetails.type == 'INVOICE'">
                    <StackLayout width="100%" class="" row="0" col="0" >
                        <StackLayout orientation="horizontal" class="pt-30">
                            <Label class=" bolder " style="font-size:15;" text="Tip Amount"></Label>
                            <Label class=" bolder " style="font-size:15;" text="  - {{tipAmount}}%" *ngIf="tipAmount"></Label>
                        </StackLayout>
                        <StackLayout  width="100%" horizontalAlignment="left">   
                             <Button class=" custom-primary"  horizontalAlignment="left" style="height: 50; width: 20%; border-radius: 10;font-size: 22;" text="ADD TIP" (tap)="editTip()"></Button>
                        </StackLayout>
                     </StackLayout>
                    <StackLayout width="100%"  class="pt-30" row="0" col="1">
                        <Label class="bolder " style="font-size:18;text-align:right" text="$ {{tipValue.toFixed(2)}}"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout class="bottm-border" columns="*,120" rows="auto" orientation="horizontal" width="100%" *ngIf="invoiceDetails.balanceDue > 0">
                    <StackLayout width="100%" class="pt-30 " row="0" col="0">
                        <Label class=" bolder " style="font-size:18;" text="BALANCE DUE"></Label>
                    </StackLayout>
                    <StackLayout width="100%"  class="pt-30 "row="0" col="1">
                        <Label class="bolder " style="font-size:18;text-align:right" text="$ {{invoiceDetails.balanceDueToDisplay ? invoiceDetails.balanceDueToDisplay.toFixed(2) : '0'}}"></Label>
                    </StackLayout>
                </GridLayout>

                <StackLayout *ngIf="type==='check-in'">
                    <StackLayout class="pt-30" orientation="horizontal" width="100%">
                        <StackLayout width="60%">
                            <Label class="head-name " text="SIGNATURE" style="font-size: 35;font-weight: 700; "></Label>
                        </StackLayout>
                        <StackLayout width="40%">
                            <Button text="Clear Signature" style="font-size: 18; text-align:right" class="btns" (tap)="clearMyDrawing()"></Button>
                        </StackLayout>
                    </StackLayout>
                    <DrawingPad 
                        class="drawingPad pt-30" 
                        #DrawingPad height="200" 
                        id="drawingPad" 
                        penColor="#2d2b2b" 
                        penWidth="3" 
                        (touch)="onSignatureTouch($event)">
                    </DrawingPad>
                    <StackLayout width="100%" class="ptt-30 ">
                        <Label class="head-name " textWrap="true" text="By signing here, you are agreeing to the above charges and other terms for these services"
                                style="font-size: 20;color:rgb(80, 79, 79);margin-bottom: 20;margin-top: 0px;"></Label>
                    </StackLayout>
                </StackLayout>

                <StckLayout orientation="horizontal" horizontalAlignment="center" *ngIf="showPayNowButton()">
                    <Button text="PAY NOW" horizontalAlignment="center" class="text-aligncenter green-color" (tap)="payNow()"
                    style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button>
                </StckLayout>

                <StackLayout orientation="horizontal" horizontalAlignment="center" *ngIf="!showPayNowButton()">
                    <Button text="Back" horizontalAlignment="center" class="text-aligncenter custom-primary" (tap)="goBack()"
                    style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button>
                      <Button text="Continue" horizontalAlignment="center" class="text-aligncenter green-color" (tap)="goNext()"
                    style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button>
                </StackLayout>

                <StackLayout *ngIf="type==='check-in'" width="100%" class="ptt-30 ">
                     <Label  style="font-size:18; color: red;" text="Actual charges may vary for some services" ></Label> 
                </StackLayout>

            </StackLayout>
            <!-- <Label  style="font-size:18; text-align:right; padding-top:30; color: red;" text="Actual charges may vary for some services" *ngIf="type==='check-in'"></Label> -->
        </ScrollView>
    </ScrollView>
</DockLayout>

<app-loading [isLoading]="isLoading"></app-loading>
