<!-- <FlexboxLayout
  justifyContent="space-around"
  backgroundColor="#3c495e">
  <label text="Are you an existing RunLoyal customer?" textAlignment = "center" height="70" backgroundColor="#43b883"></label>
  <label
    text="second"
    alignSelf="center"
    width="70"
    height="70"
    backgroundColor="#1c6b48"
  ></label>
  <label
    text="third\nflex-end"
    alignSelf="flex-end"
    width="70"
    height="70"
    backgroundColor="#289062"></label>
  <label text="fourth" height="70" backgroundColor="#289062" ></label>
</FlexboxLayout> -->



<DockLayout stretchLastChild="true" >
 

  <app-header  height="15%" dock="top" [isDisableHomeIcon]="disableHeader"> </app-header>
  <app-footer dock="bottom" height="7%" ></app-footer>
  <StackLayout orientation="Vertical" width="100%" height="50%">
    
    <StackLayout class="" orientation="vertical" width="80%" height="100%"  verticalAlignment="top">
        <Label class="m-15 sign-in text-aligncenter header-text"  style="color: #172B4D; font-size: 50;margin-bottom: 20;font-weight: bold;" text="Are you an existing customer?" textWrap="true" ></Label>
     
        <StackLayout  orientation="horizontal" width="100%"  class="text-aligncenter" horizontalAlignment="center" >  
          <StackLayout  orientation="vertical" width="100%"  class="text-aligncenter green-color" (tap)="goToUserEmail('check-in')" horizontalAlignment="center" verticalAlignment="middle" style="height: 350; width: 45%; border-radius: 20;font-size: 45; padding:20; margin: 2.5%;"  >      
          <Image width="150" src="~/assets/log-in.png" verticalAlignment="center" class="text-aligncenter"></Image>
           <Label text="Check In" class="text-aligncenter" style="color:white;font-size: 45;" ></Label>
       </StackLayout>
       <StackLayout  orientation="vertical" width="100%"  class="text-aligncenter custom-primary"  (tap)="goToUserEmail('check-out')" horizontalAlignment="center" verticalAlignment="middle" style="height: 350; width: 45%; border-radius: 20;font-size: 45;padding:20;margin: 2.5%;">    
           <Image width="150" src="~/assets/log-out.png" verticalAlignment="center" class="text-aligncenter "></Image>
            <Label text="Check Out" class="text-aligncenter"style="color:white;font-size: 45;"></Label>
    </StackLayout>
  </StackLayout>
  </StackLayout> 
</StackLayout>
  
  </DockLayout>

  <app-loading [isLoading]="isLoading"></app-loading>
