<DockLayout stretchLastChild="true">

    <app-header height="15%" dock="top"> </app-header>

    <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8">

        <StackLayout orientation="vertical" horizontalAlignment="center">
            <StackLayout orientation="vertical">
                <Label class="text-lg " text="Please select your location"></Label>
            </StackLayout>
            
            <WrapLayout orientation="horizontal" height="100%" width="100%">

                <StackLayout *ngFor="let location of locations; let i = index">
                    <!-- <StackLayout orientation="vertical" class="card" (tap)="selectLocation(i)" [ngClass]="{ 'active' : location.active, 'no-active' : !location.active }"> -->
                        <StackLayout orientation="vertical" class="card"  verticalAlignment="middle" (tap)="selectLocation(i)" [ngClass]="{ 'active' :  locationIndex == i }">
                            <StackLayout orientation="vertical" verticalAlignment="middle" horizontalAlignment="center" >
                                <Label class="card-title" text="{{location.name}}"></Label>
                            
                                <StackLayout verticalAlignment="bottom" horizontalAlignment="center" >
                                    <Label class="card-des" text="{{location.contactPhone}}"></Label>
                                </StackLayout>
                            
                            </StackLayout>
                        </StackLayout>
                        
                </StackLayout>

              </WrapLayout>
                        <Button text="Continue" class="text-aligncenter blue-color"  (tap)="getLocations()"
              style="height: 80; width: 49%; border-radius: 10;font-size: 30;color:white"></Button>
        </StackLayout>
    </Scrollview>
</DockLayout>