

<StackLayout class="" orientation="vertical" width="100%" verticalAlignment="bottom" height="5%" class="footer-menu" style="padding-bottom:5 ;"> 
    <Image src="~/assets/Made-with-love.png"   verticalAlignment="center" class="text-aligncenter foote_img " ></Image>
</StackLayout>  