.card *
{
    color: #06225c;
}
.card
{
    width: 23%;
    height: 450;
    background-color: white;
    horizontal-align:center;
   text-transform: uppercase;
   float: left;        
   text-align: center;
   margin: 1%  1% 45 1% ;
   border-radius: 30;
   padding: 0px;
}
.price-details
{
font-size: 50;
color: #06225c;
}
.text-center
{
    horizontal:center;
    text-align: center;
}
.active
{
  background: url('~/assets/bg.png');
  background-size: cover;
 color: white; 
}
.active *
{
 color: white; 
}
.right-card
{
    vertical-align: top;
    horizontal-align:right;
    font-size:25;
    margin-right: 20;
}

.card-title
{
    vertical-align: middle;    
    font-size:35;
    margin-bottom: 30;
}
.card-des
{
    vertical-align: bottom;    
    font-size:25;
    font-weight: 500;
}
.card-details
{
    vertical-align: bottom;
    horizontal-align:left;
    font-size:30;
    margin: 50 0 0 25;

}

.price-details
{
font-size: 50;
color: #06225c;
margin-bottom: 20;
}
.hd-bg
{
    background-color: #06225c;
    padding: 20;
    color: white;
}
.plus
{
    font-size: 75%;
    text-align: center;
    horizontal-align:center;
    vertical-align:center;
    padding: 20;
    border-radius:50% ;
    color: white;
}

label
{
    color: #07235c;
}


	
.text-lg {
	font-size: 35 !important;
    font-weight: 800!important;
	overflow: hidden!important;
	text-overflow: ellipsis!important;
	white-space: nowrap!important;
    padding: 20;
}
.pet_img
{
  
    border-radius:30% 30% 0 0;
    vertical-align: top;
   width: 100%;
   margin-bottom: 50;

}