<DockLayout stretchLastChild="true">

    <app-header height="15%" dock="top"> </app-header>

    <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8">

        <StackLayout orientation="vertical">
            <StackLayout orientation="vertical">
                <Label class="text-lg " text="Please select your pet"></Label>
            </StackLayout>

            <WrapLayout orientation="horizontal" height="100%" width="100%">

                <StackLayout *ngFor="let pet of userPets; let i = index">
                    <StackLayout orientation="vertical" class="card" (tap)="selectPet(i)" [ngClass]="{ 'active' : isPetActive(i) }">
                        <Image src="~/assets/petimage.png" verticalAlignment="top" class="pet_img"></Image>
                        <Label class="card-title" text="{{pet.name}}"></Label>
                        <StackLayout orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="center">
                            <StackLayout verticalAlignment="bottom" horizontalAlignment="center" width="65%">
                                <Label class="card-des" text="{{pet.breed.name}}"></Label>
                            </StackLayout>
                            <StackLayout verticalAlignment="bottom" horizontalAlignment="center" width="65%">
                                <Label class="card-des" text="{{pet.color}}" width="35%"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>

                <Button text="{{continueText}}" class="text-aligncenter f3 custom-primary" style="height: 50; width: 85%; border-radius: 20;background-color: rgb(22, 22, 88);" (tap)="continue()"></Button>
            </WrapLayout>

        </StackLayout>
    </Scrollview>
</DockLayout>