<StackLayout class="" orientation="horizontal" width="100%" verticalAlignment="top" height="10%" class="header-menu" style="padding: 10;"> 
    <StackLayout width="10%"></StackLayout>
    <Image width="80%" src="{{tenantLogo}}" verticalAlignment="center" class="text-aligncenter logo_img"></Image>
    <StackLayout width="10%" (tap)="goHome()"> <Image  src="~/assets/home.png" class="text-aligncenter home" *ngIf="!isDisableHomeIcon"></Image></StackLayout>
</StackLayout>  