/* Add mobile styles for the component here.  */
.logo_img
{
   text-align: center;
   height: 150px;
   width: 150px;
   vertical-align: middle;
}
.header-menu
{
    border-bottom-width:1 ;
    border-color: rgb(185, 185, 185);
}
.home
{
    width: 50;
    margin: 25;
}