
.card
{
    width: 23%;
    height: 300;
    background-color: white;
    horizontal-align:center;
   text-transform: uppercase;      
   text-align: center;
   margin: 1%  1% 45 1% ;
   border-radius: 30;
   padding: 10;
   vertical-align: middle;
}
.price-details
{
font-size: 50;
color: #06225c;
}
.text-center
{
    horizontal:center;
    text-align: center;
}
.no-active
{
    background: #ff0000;
    color: white; 
   
}
.no-active *
{
 
    color: white; 

}
.active
{
  background: url('~/assets/bg.png');
  background-size: cover;
 color: white; 
}
.active *
{
 color: white; 
}
.right-card
{
    vertical-align: top;
    horizontal-align:right;
    font-size:25;
    margin-right: 20;
}

.card-title
{
    vertical-align: middle;    
    font-size:30;
    margin-bottom: 30;
}
.card-des
{   
    font-size:25;
    font-weight: 500;
}
.card-details
{
    
    vertical-align: bottom;
    font-size:15;
    margin: 20 0 0 0;
    color:red !important;

}

.price-details
{
font-size: 50;
color: #06225c;
margin-bottom: 20;
}
.hd-bg
{
    background-color: #06225c;
    padding: 20;
    color: white;
}


label
{
    color: #07235c;
}


	
.text-lg {
	font-size: 35 !important;
    font-weight: 800!important;
	overflow: hidden!important;
	text-overflow: ellipsis!important;
	white-space: nowrap!important;
    padding: 20;
}
.pet_img
{
  
    border-radius:30% 30% 0 0;
    vertical-align: top;
   width: 100%;
   margin-bottom: 50;

}