<DockLayout stretchLastChild="true">

    <app-header height="15%" dock="top"></app-header>

    <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8">

        <StackLayout orientation="vertical">
            <Label class="m-15 sign-in text-aligncenter header-text"
            style="color: #172B4D; font-size: 30;margin-bottom: 20;font-weight: bold;" text="Select Membership" textWrap="true"></Label>

            <WrapLayout orientation="horizontal" height="100%" width="100%" style="padding-top: 15;" *ngIf="userMemberships.length > 0">
                <!-- <StackLayout orientation="vertical" class="card"  *ngFor="let membership of userMemberships; let i = index" [ngClass]="{ 'active' : membership.active, 'no-active' : !membership.active }"> -->
                <StackLayout orientation="vertical" class="card"  *ngFor="let membershipObj of userMemberships; let i = index">
                    <StackLayout orientation="vertical" verticalAlignment="middle" horizontalAlignment="center" (tap)="selectMembership(membershipObj)">
                        <Label class="card-title" text="{{membershipObj.membership.name}}"></Label>
                        <Label class="card-des" text="{{membershipObj.membership.frequency}}"></Label>
                        <Label class="card-details" text="Expires in : {{getReadableDateShort(membershipObj.membership.toDate)}}"></Label>
                    </StackLayout>
                </StackLayout>
            </WrapLayout>
            <WrapLayout orientation="horizontal" height="100%" width="100%" style="padding-top: 15;" *ngIf="userMemberships.length == 0">
                <StackLayout orientation="vertical" class="card" style="width: 100%;">
                    <StackLayout orientation="vertical" verticalAlignment="middle" horizontalAlignment="center">
                        <Label class="card-title" text="You don't have any memberships."></Label>
                        <Label class="card-des" text=" Purchase from below."></Label>
                    </StackLayout>
                </StackLayout>
            </WrapLayout>
        <!-- </StackLayout> -->
        <!-- <StackLayout orientation="vertical"> -->
            <Label class="m-15 sign-in text-aligncenter header-text"
            style="color: #172B4D; font-size: 30;margin-bottom: 20;font-weight: bold;" text="All Memberships" textWrap="true"></Label>

            <WrapLayout orientation="horizontal" height="100%" width="100%" style="padding-top: 15;">
                <StackLayout orientation="vertical" class="card"  *ngFor="let membership of allMemberships; let j = index">
                    <Image  src="~/assets/info5.png" verticalAlignment="center" horizontalAlignment="right" style="width: 20;height: 20;margin-right: 20;"></Image>
                    <StackLayout orientation="vertical" verticalAlignment="middle" horizontalAlignment="center" (tap)="buyMembership(membership)">
                        <Label class="card-title"  textWrap="true" text="{{membership.name}}"></Label>
                        <Label class="card-des" text="{{membership.frequency}}"></Label>
                        <Label class="card-des" style="color: #55b061;font-weight: 900;" text="$250.00"></Label>
                        <Label class="card-details" text="Expires in : {{getReadableDateShort(membership.toDate)}}"></Label>
                    </StackLayout>
                </StackLayout>
            </WrapLayout>
        </StackLayout>

    </Scrollview>
</DockLayout>