<StackLayout horizontalAlignment="center">
    <StackLayout class="home-panel" *ngIf="isTipPopup" style="text-align: center;" horizontalAlignment="center">
        <Label textWrap="true" text="{{context.description}}" class="h4 description-label" style="font-size: 20; margin-top: 0;"></Label>
    </StackLayout>
       <StackLayout *ngIf="!isCustomTipPopup">
        <GridLayout columns="*, *,*, *" rows="100">
            <Button  class="btns" row="0" col="0" text="15%" (tap)="tipChange(15)" style="border-radius: 15px;"horizontalAlignment="center"  width="16%" [ngClass]="{ 'custom-primary' : tipAmount == 15 }"></Button>
            <Button  class="btns" row="0" col="1"text="18%" (tap)="tipChange(18)" style="border-radius: 15px;"horizontalAlignment="center"  width="16%" [ngClass]="{ 'custom-primary' : tipAmount == 18 }"></Button>
            <Button  class="btns" row="0" col="2"text="20%" (tap)="tipChange(20)" style="border-radius: 15px;"horizontalAlignment="center"  width="16%" [ngClass]="{ 'custom-primary' : tipAmount == 20 }"></Button>
            <Button  class="btns"  row="0" col="3" text="25%" (tap)="tipChange(25)" style="border-radius: 15px;"horizontalAlignment="center"  width="16%" [ngClass]="{ 'custom-primary' : tipAmount == 25 }"></Button>
      
          </GridLayout>
        <StackLayout orientation="vertical" horizontalAlignment="center" class="p-20">
            <Button text="Custom Tip" class="btns" (tap)="openCustomTip()" style="border-radius: 15px; margin: 10;" width="80%" [ngClass]="{ 'custom-primary' : isCustomTip() }"></Button>
            <Button text="No Tip" class="btns"  (tap)="tipChange(0)" style="border-radius: 15px; margin: 10;" width="80%" [ngClass]="{ 'custom-primary' : tipAmount == 0 }"></Button>
        </StackLayout>
    
        <StackLayout orientation="horizontal" horizontalAlignment="center" class="p-20" style="text-align: center; margin-left: 30;" width="80%">
            <Button text="{{context.cancelText}}" class="dangar-primary" (tap)="closeAndStay()" style="border-radius: 30px;" width="35%"></Button>
            <Button text="{{context.okText}}" (tap)="tipOkay()" style="border-radius: 30px;" class="custom-primary green-color" width="35%"></Button>
        </StackLayout>
    </StackLayout>
    
    <StackLayout class="home-panel" *ngIf="isCustomTipPopup" style="text-align: center;" horizontalAlignment="center">
        <Label textWrap="true" text="{{context.description}}" class="h4 description-label" style="font-size: 20; margin-top: 0;"></Label>
        <Label textWrap="true" text="Add your custom tip" class="h4 description-label" style="font-size: 20; margin-top: 0;"></Label>
    
        <TextField [(ngModel)]="tipInput" hint="Enter in %" class="input-form" keyboardType="number"></TextField>
    
        <StackLayout orientation="horizontal" horizontalAlignment="center" class="p-20" style="text-align: center; margin-left: 30;" width="80%">
            <Button  text="{{context.cancelText}}" class="dangar-primary" (tap)="showTipPopup(false)" horizontalAlignment="center"   style="border-radius: 30px;" width="40%"></Button>
            <Button  text="{{context.okText}}" (tap)="showTipPopup(true)"horizontalAlignment="center"  style="border-radius: 30px;" class="custom-primary green-color" width="40%"></Button>
        </StackLayout>
        
    </StackLayout>
</StackLayout>
