.rating-image
{
    text-align: left;
    horizontal-align:left;
    width: 50%;
}
.rating-title
{
    font-size: 30;
    margin: 30 0 10 0;
}
.input-fields
{
    border-width: 1;
    border-color: #ccc;
    background-color: white;
    padding: 15 ;
    border-radius:10 ;
    font-size: 25;
    width: 100%;
    font-family: 500;
    height: 300;
}
.custom-button
{
    font-size: 30;
    border-radius:20 ;
    width: 200;
    float: right;
    horizontal-align:right;
    margin-top:30 ;
    height: 75;
    text-transform: uppercase;
}
.header-title
{
    color: white;
}

label
{
    color: #07235c;
}