<DockLayout stretchLastChild="true" >
 
    <app-header  height="15%" dock="top" > </app-header>
    <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8" >
                
        <!-- <StackLayout orientation="vertical"  >
         
                    <StackLayout orientation="vertical" width="95%">
                    <Label class="rating-title" textWrap="true" text="How did we do?"></Label>                            
                    <Image src="~/assets/rate.png"   verticalAlignment="center" class="rating-image" width="50%" ></Image>
                    <Label class="rating-title" textWrap="true" text="Tell about us"></Label>
                    <TextView hint=""   class="input-fields">
                    </TextView>
                    <Button text="Share" class="custom-button"></Button>
                    </StackLayout>
       
    
        </StackLayout> -->

        <StackLayout orientation="Vertical" backgroundColor="">

            <Image class="img-border pt-30" width="65" height="65" src="~/assets/userIcon.png"></Image>

            <Label textWrap="true" style="font-size: 20; text-align:center;" class="pt-30" text="How did we do?"></Label>

            <StackLayout orientation="horizontal" width="95%" style=" padding-top:10; margin-top: 20; background-color:rgb(243, 243, 243); padding: 25; border-radius: 5;" class="border-btn">
                <StarRating 
                    filledBorderColor="#3aa7fa" 
                    filledColor="#3aa7fa" 
                    emptyBorderColor="#3aa7fa" 
                    emptyColor="white" 
                    value="{{ratingValue}}" 
                    max="{{max}}" 
                    isindicator="false" 
                    style="margin-left: 25;" 
                    (valueChange)="ratingChange($event)"
                    ></StarRating>
            </StackLayout>

            <StackLayout orientation="horizontal" style="margin-top: 20px; margin-left: 20px;">
                <StackLayout>
                    <CheckBox #elem checked="true" fillColor="#3aa7fa"  (checkedChange)="changeCheckedRadio('share')" class="" *ngIf="isShareReview"></CheckBox>
                    <CheckBox #elem checked="false" fillColor="#3aa7fa"  (checkedChange)="changeCheckedRadio('share')" class="" *ngIf="!isShareReview"></CheckBox>
                </StackLayout>
                <StackLayout>
                    <Label text="Allow {{tenantName}} to share my review" style="margin-top: 5px; font-size: 16;"></Label>
                </StackLayout>
            </StackLayout>

            <ListPicker 
                *ngIf="isShareReview"
                [items]="shareTypes" 
                selectedIndex="0" 
                (selectedIndexChange)="onSelectedIndexChanged($event)" 
                class="picker">
            </ListPicker>

            <StackLayout orientation="vertical" width="100%" height="100%" style="background-color:#fff;" class="border-btn">
                <TextView width="95%" hint="Write a Review" class="input-fields" style=" font-size: 16;" [(ngModel)]="reviewNotes"></TextView>
            </StackLayout>

            <app-loading [isLoading]="isLoading"></app-loading>

            <StackLayout orientation="vertical" width="100%" height="100%" style=" padding-top:10; background-color:#fff" class="border-btn" *ngFor="let parameter of parameters">
                <Label textWrap="true" style="font-size: 17;color:gray; text-align:left; margin-left: 10;" class="pt-30" text="{{parameter.toolTip}}"></Label>
                <Slider 
                    value="0" 
                    minValue="0" 
                    maxValue="10" 
                    color="#3aa7fa" 
                    backgroundColor="#3aa7fa" 
                    (valueChange)="sliderChange($event, parameter)">
                </Slider>
                <Label textWrap="true" style="font-size: 18;color:gray; text-align:center; font-weight: 500;" class="pt-30" text="{{parameter.value}}"></Label>
            </StackLayout>

            
            <Button text="Share" class="custom-button" (tap)="submit()"></Button>
            
        </StackLayout>


    </Scrollview>
    </DockLayout>