<!-- <app-header></app-header> -->

<ScrollView orientation="Vertical" class="bottom-gradient" width="100%">


    <StackLayout orientation="Vertical" width="70%" class="login-border">
        <StackLayout orientation="Vertical" width="85%" height="90%" class=" mb" verticalAlignment="center"
            harizonalAlignment="center">

            <StackLayout class="" orientation="vertical" width="80%" verticalAlignment="center">
                <Image src="~/assets/Logo.png"
                    verticalAlignment="center" class="text-aligncenter logo_img" width="150" height="150"></Image>

                <Label class="m5 sign-in text-aligncenter" text="Forgot Password "></Label>
                <Label textWrap="true" class="pt5 h21 text-aligncenter"
                    text="You can reset your password by entering your email address below. We will then send you an email a link to reset your password."></Label>

            </StackLayout>

            <StackLayout class="input-field" style="margin-bottom: 30px; margin-top: 20;">
                <TextField class="input-form f3" name="email" hint="E.g. user@example.com" keyboardType="email"
                    [(ngModel)]="email" autocorrect="false" autocapitalizationType="none"></TextField>
                
                <Button text="Submit" class="text-aligncenter custom-primary"
                    style="height: 50; width: 80%; border-radius:40; font-weight:600;font-size:17;"
                    (tap)="sendEmail()"></Button>
                <Button text="Cancel" class="text-aligncenter danger-primary"
                    style="height: 50; width: 40%; border-radius:40; font-weight:600;font-size:17;"
                    (tap)="close()"></Button>
            </StackLayout>


            <Label textWrap="true" class="h4 text-center" text={{errorMsg}}
                style="margin-top: 10px; color: #e46c6c;"></Label>

        </StackLayout>

        <StackLayout class="" orientation="vertical" width="100%" verticalAlignment="bottom" height="7%"
            class="footer-menu">
            <Image src="~/assets/Made-with-love.png"
                verticalAlignment="center" class="text-aligncenter foote_img "></Image>
        </StackLayout>

    </StackLayout>

</ScrollView>

<app-loading [isLoading]="isLoading"></app-loading>

<!-- <app-footer></app-footer> -->