/* Add mobile styles for the component here.  */
/* Add mobile styles for the component here.  */

.pdt
{
	padding-left:15;
	padding-right:15;
}

.col-sm-8
{
	width:80%;
	margin-left:20%;
	float:left;
	
}
.left
{
	float:right;
	
}
.right
{
	float:left;
	padding-top:30px;
}
.right-icon
{
	float:left;
	margin-top:30px;
}
.head-name
{
	
	font-size:15px;
	margin-top:20px;
}
.chec-name
{
	
	font-size:15px;
	margin-top:-10px;
}
.col-sm-4
{
	width:20%;
	margin-left:70%;
	margin-top:0%;
	float:right;
}
CheckBox
{
	color:rgb(231, 48, 48);
}

.pt-30
{
	padding:30px;
}
.pbt
{padding:15
}
.bolder{
font-weight:700;

}
.mt-30
{
margin: 30px;
}
.fl-r
{

	margin-left:50%;
}

.data {
	font-weight:500;
	font-size:24;
	padding-top:20px;
}


.btn-success
{
    border-width: 1;
	border:20%;
	text-transform:uppercase;
	margin-bottom:20px;
	border-radius: 10;
}
.Label-bg
{
	background-color:#ddd;
}

.Label-lite-bg
{
	background-color:#56b063;
}

.text-center {
	text-align: center;
}

.lite {
	font-weight: 400;
}

.error {
	color:rgb(231, 48, 48);
}

.input-form{
	border-radius:5%;
	border-color:#ddd;
	border-width: 1;
	margin:0;
	padding:20 10;
	width:90%;
	font-size:17;
}
.sub-header
{
	font-size: 22;
	color: white;
}
.MyLabel
{
	margin-bottom: 20px;
}
.pt-3x 
{
	padding: 50px 0px;

} 