<!-- 
<GridLayout class="transparent" row="2" columns="*, 150,70" rows="auto" orientation="horizontal" width="100%" style="padding-top:60px;">
    <StackLayout class="transparent" class="" row="0" col="2">
        <Button class="text-aligncenter custom-primary fas" style="height: 50; width: 50; border-radius: 40;" text="&#xf00d;"></Button>
    </StackLayout>
</GridLayout> -->
<DockLayout stretchLastChild="true">


    <app-header height="15%" dock="top"> </app-header>
    <app-footer dock="bottom" height="7%"></app-footer>
    <ScrollView orientation="Vertical" height="100%" class="body-bg-1" row="1">
        <ScrollView orientation="Vertical">
            
            <StackLayout orientation="Vertical" width="100%" height="100%" verticalAlignment="top" >

                <StackLayout orientation="vertical" class="list-group" height="100%" *ngIf="appointmentObj"
                >
                    <StackLayout class=" pt-30" orientation="horizontal" width="100%">
                        <StackLayout width="60%"><Label class="head-name " text="APPOINTMENT SUMMARY"
                                style="font-size: 25;font-weight: 700;padding-left: 30px;text-align: left;"></Label>
                        </StackLayout>
                    </StackLayout>
                

                    <StackLayout *ngFor="let appointment of appointmentObj.appointmentDetails" orientation="vertical">
                        <StackLayout class="MyLabel pdt" orientation="horizontal" width="100%"
                            backgroundColor="#05225c">
                            <Label class="pt-30 bolder sub-header" text="PET DETAIL"></Label>
                        </StackLayout>
                        <StackLayout class="pt-3x" width="100%">
                            <Label class="text-center data" text="{{appointment.pet.name}}"></Label>
                            <Button class="btn-success text-primary -outline pbt text-center data" *ngIf= "appointmentObj.status=='CHECKIN'" width="40%"
                                height="60" text="CHECKED IN"></Button>
                             <Button class="btn-success text-primary -outline pbt text-center data" *ngIf= "appointmentObj.status!='CHECKIN'" width="40%"
                                height="60" text="{{appointmentObj.status}}"></Button>
                        </StackLayout>
                        <StackLayout style="margin-top: 20px;" *ngIf="type==='check-in'">
                            <StackLayout class="MyLabel pdt" orientation="horizontal" width="100%" backgroundColor="#05225c">
                                <Label class="pt-30 bolder  sub-header"  text="ADDITIONAL REQUIREMENTS"></Label>
                            </StackLayout>                            
                            <StackLayout *ngIf="isShowImmunizations(appointment.reservationTypes)">
                                <StackLayout orientation="horizontal" class="pt-30" >
                                    <StackLayout width="90%">
                                        <Label class="data pt-30" text="Immunizations" (tap)="goToImmunizations(appointment)"></Label>
                                       </StackLayout>
                                    <StackLayout width="10%">
                                        <!-- <Label class="fas pdd15" style="font-size:20em; " text="&#xf105;"></Label> -->
                                          <Image class="text-center mt-30 data" style="width: 20;" src="~/assets/right.png"></Image>
                                     </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="isShowFoodAndFeeding(appointment.reservationTypes)">
                                <StackLayout orientation="horizontal" class="pt-30">
                                    <StackLayout width="90%">
                                        <Label class="data pt-30" text="Food and Feeding" (tap)="goToFoodAndFeeding(appointment)"></Label>
                                    </StackLayout>
                                    <StackLayout width="10%">
                                        <!-- <Label class="fas fa- pdd15" style="font-size:20em; " text="&#xf105;"></Label> -->
                                        <Image class="text-center mt-30 data" style="width: 20;" src="~/assets/right.png"></Image>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="isShowMedication(appointment.reservationTypes)">
                                <StackLayout orientation="horizontal" class="pt-30">
                                    <StackLayout width="90%">
                                        <Label class="data pt-30" text="Medications" (tap)="goToMedication(appointment)"></Label>
                                    </StackLayout>
                                    <StackLayout width="10%">
                                        <!-- <Label class="fas pdd15" style="font-size:20em; " text="&#xf105;"></Label> -->
                                        <Image class="text-center mt-30 data" style="width: 20;" src="~/assets/right.png"></Image>
                                     </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="isShowAgreements(appointmentObj)">
                                <StackLayout orientation="horizontal" class="pt-30">
                                    <StackLayout width="90%">
                                        <Label class="data pt-30" text="Agreements" (tap)="goToAgreements(appointmentObj)"></Label>
                                    </StackLayout>
                                    <StackLayout width="10%">
                                        <!-- <Label class="fas pdd15" style="font-size:20em; " text="&#xf105;"></Label> -->
                                        <Image class="text-center mt-30 data" style="width: 20;" src="~/assets/right.png"></Image>
                                     </StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="isShowQuestionnaire(appointmentObj)">
                                <StackLayout orientation="horizontal" class="pt-30">
                                    <StackLayout width="90%">
                                        <Label class="data pt-30" text="Additional Information" (tap)="goToQuestionnaire(appointmentObj)"></Label>
                                    </StackLayout>
                                    <StackLayout width="10%">
                                        <!-- <Label class="fas pdd15" style="font-size:20em; " text="&#xf105;"></Label> -->
                                        <Image class="text-center mt-30 data" style="width: 20;" src="~/assets/right.png"></Image>
                                     </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                        <!-- <StackLayout class="MyLabel pdt" orientation="horizontal" width="100%"
                            backgroundColor="#05225c">
                            <Label class="pt-30 bolder sub-header" text="APPOINTMENT NOTES"></Label>
                        </StackLayout> -->
                        <!-- <Label text="{{appointment.notes}}" class="input-form" style="margin-bottom: 15px; margin-top: 15;"></TextView> -->
                        <StackLayout *ngFor="let reservation of appointment.reservationTypes" orientation="vertical">
                            <StackLayout class="MyLabel pdt" orientation="horizontal" width="100%"
                                backgroundColor="#05225c" style="margin-bottom: 20;">
                                <Label class="pt-30 bolder sub-header" text="SERVICE DETAILS"></Label>
                            </StackLayout>
                            <Image class="text-center data" width="100" src="{{reservation.iconUrl}}"></Image>

                            <Label class="text-center data" text="{{reservation.name}}"></Label>
                            <StackLayout *ngFor="let service of reservation.services">
                                <Label class="text-center data" text="{{service.name}}"
                                    *ngIf="!service.addOn"></Label>
                            </StackLayout>

                            <StackLayout class="Label-lite-bg  pdt" orientation="horizontal" width="100%"
                                style="margin-top: 20;">
                                <Label class="pt-30 bolder sub-header" text="SELECTED DATE"></Label>
                            </StackLayout>
                            <Label class="pdt pbt data" style="margin-left: 10; margin-top: 5;"
                                text="{{getReadableDate(reservation.startDate)}}"></Label>
                            <Label class="pdt pbt data" style="margin-left: 10;"
                                text="{{getReadableDate(reservation.endDate)}}"
                                *ngIf="reservation.serviceBasedOn != 'CAPACITY_BASED'"></Label>

                            <StackLayout class="Label-lite-bg pdt" orientation="horizontal" width="100%"
                                style="margin-top: 20;" *ngIf="isShowAddServices(reservation.services)">
                                <Label class="pt-30 bolder sub-header" text="ADD-ON SERVICES"></Label>
                            </StackLayout>
                            <StackLayout *ngFor="let service of reservation.services">
                                <StackLayout *ngIf="service.addOn">
                                    <Label class="data pdt pbt" text="{{service.name}}"
                                        style="margin-left: 10;"></Label>
                                    <StackLayout *ngIf="reservation.serviceBasedOn == 'LODGING_BASED'">
                                        <Label *ngFor="let serviceAssignment of service.serviceAssignments"
                                            class="data pdt pbt lite"
                                            text="{{getReadableDateShort(serviceAssignment.date)}}"
                                            style="margin-left: 10;"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>

                          
                    </StackLayout>       
                
                    
                    <StackLayout orientation="horizontal" horizontalAlignment="center" >
                        <Button text="Back" row="0" cols="1" horizontalAlignment="center" class="text-aligncenter center custom-primary" (tap)="goBack()"
                            style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button>
                        <Button text="Continue" row="0" cols="2" horizontalAlignment="center" class="text-aligncenter center  green-color" (tap)="goNext()"
                            style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button> 
                    </StackLayout>
                    
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </ScrollView>

</DockLayout>