<DockLayout stretchLastChild="true">

    <app-header height="15%" dock="top">

    </app-header>
    <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8">

        <StackLayout orientation="vertical">
            <StackLayout orientation="vertical">
                <Label class="text-lg " text="Please select an area"></Label>
            </StackLayout>
            <WrapLayout orientation="horizontal" height="100%" width="100%" style="padding-top: 15;" *ngIf="isShowUnits">
                <StackLayout *ngFor="let unit of units; let i = index">
                    <StackLayout orientation="vertical" class="card" (tap)="selectSlot(unit)">
                        <StackLayout orientation="vertical" verticalAlignment="middle" horizontalAlignment="center">
                            <Label class="card-title" text="{{unit.name}}"></Label>
                            <Label class="card-des" text="Capacity : {{unit.maxNumberOfPets}}"></Label>
                            <Label class="card-des" text="Occupied : {{unit.usedArea}}"></Label>
                            <Label class="card-des" text="Available : {{unit.maxNumberOfPets - unit.usedArea}} / {{unit.maxNumberOfPets}}"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </WrapLayout>
        </StackLayout>

    </Scrollview>
</DockLayout>