.card *
{
    color: #06225c;
}
.card
{
    padding:15;
	border-radius:20;
    width: 400;
    background-color: white;
    vertical-align:middle;
    horizontal-align:center;
   text-transform: uppercase;
   float: left;        
   text-align: center;
   border-color: #06225c;
   border-width: 1;
   margin: 1%  1% 45 1% ;
}
.price-details
{
font-size: 50;
color: #06225c;
}
.text-center
{
    horizontal:center;
    text-align: center;
}
.active
{
  background: url('~/assets/bg.png');
  background-size: cover;
 color: white; 
}
.active *
{
 color: white; 
}
.right-card
{
    vertical-align: top;
    horizontal-align:right;
    font-size:25;
    margin-right: 20;
}

.left-card
{
    vertical-align: bottom;
    horizontal-align:left;
    font-size:25;
    margin-left: 25;
}
.card-details
{
    vertical-align: bottom;
    horizontal-align:left;
    font-size:30;
    margin: 50 0 0 25;

}

.price-details
{
font-size: 50;
color: #06225c;
margin-bottom: 20;
}
.hd-bg
{
    background-color: #06225c;
    padding: 20;
    color: white;
}
.plus
{
    font-size: 75%;
    text-align: center;
    horizontal-align:center;
    vertical-align:center;
    padding: 20;
    border-radius:50% ;
    color: white;
}

label
{
    color: #07235c;
}

.cardes {
	background-color:white;
	padding:10 0;
}

.hide {
    width: 0px;
    background-color: red;
}