<DockLayout stretchLastChild="true">

    <app-header height="15%" dock="top"> </app-header>
    <!-- <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8">

        <StackLayout orientation="vertical">

            <StackLayout orientation="vertical">
                <Label class="card-details  price-details text-center" horizontalAlignment="center"
                    text="$ 200"></Label>
            </StackLayout>

            <WrapLayout orientation="horizontal" height="100%" width="100%">
                <StackLayout orientation="vertical" class="card">
                    <Label class="right-card" text="VISA"></Label>
                    <Label class="card-details" text="1923 XXXX XXXX 4563"></Label>
                    <Label class="left-card" text="ARUL"></Label>

                </StackLayout>

                <StackLayout orientation="vertical" class="card active">
                    <Label class="right-card" text="VISA"></Label>
                    <Label class="card-details" text="1923 XXXX XXXX 4563"></Label>
                    <Label class="left-card" text="ARUL"></Label>

                </StackLayout>

                <StackLayout orientation="vertical" class="card">
                    <Label class="right-card" text="VISA"></Label>
                    <Label class="card-details" text="1923 XXXX XXXX 4563"></Label>
                    <Label class="left-card" text="ARUL"></Label>

                </StackLayout>

                <StackLayout orientation="vertical" class="card">

                    <Label class="plus" text="+"></Label>

                </StackLayout>


            </WrapLayout>


        </StackLayout>
    </Scrollview> -->



    <ScrollView orientation="Vertical" class="">
        <ScrollView orientation="Vertical" style="margin-bottom: 10px;" style="margin-top:15;">

            <StackLayout orientation="vertical">

                <!-- <StackLayout orientation="Horizontal" class="card" width="100%" (tap)="getPaymentLink(false)"> -->
                <StackLayout orientation="Horizontal" class="card" width="100%" (tap)="addNewCard()">
                    <StackLayout width="5%">

                    </StackLayout>

                    <StackLayout width="85%">
                        <Label textWrap="true" style="font-size:35;" text="ADD CARD"></Label>
                    </StackLayout>

                    <StackLayout width="10%">
                        <!-- <Label class="fas " style="font-size:20em; color:#7f7f7f" text="&#xf105;"></Label> -->
                        <Image class="text-center mt-30 data" style="width: 20;" src="~/assets/right.png"></Image>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" width="100%" *ngIf="cards.length > 0">
                    <Label textWrap="true" style="font-size: 35; text-align: center;" class=" pt-30 " text="OR"></Label>
                </StackLayout>



                <StackLayout *ngIf="cards.length > 0">
                    <StackLayout *ngFor="let card of cards; let i = index">
                        <StackLayout orientation="Horizontal" verticalAlignment="middle" class="card" width="95%" (tap)="selectCard(i)">
                            <StackLayout width="10%" verticalAlignment="middle"> 
                                <Image src="~/assets/cards.png" width="75" style="font-size: 20; padding-top: 15;padding-left: 15;"></Image>
                            </StackLayout>
        
                            <StackLayout width="75%" marginLeft="02.5%" verticalAlignment="middle">
                                <Label textWrap="true" style="font-size: 35; text-align: left; " class=" " text="Ending in {{card.lastFourDigit}}"></Label>
                                <Label style="font-size: 25; text-align: left;color:#7f7f7f " text="{{card.cardHolderName}}"></Label>
                                <Label style="font-size: 20; text-align: left;color:#7f7f7f " text="{{card.cardType}}"></Label>
                            </StackLayout>
        
                            <StackLayout width="10%" verticalAlignment="middle" *ngIf="selectedCardIndex == i">
                                <Image src="~/assets/confirm.png" width="50" style="font-size: 20; padding-top: 15;padding-left: 15;"></Image>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>

                <app-loading [isLoading]="isLoading"></app-loading>

                <StackLayout orientation="vertical" width="100%" *ngIf="!routeAfterAddingCard && cards.length > 0">
                    <Button text="PAY NOW" class="text-aligncenter custom-primary"  (tap)="getPaymentLink(true)"
                        style="height: 50; width: 50%; border-radius: 40;"></Button>
                </StackLayout>

                <StackLayout orientation="vertical" width="100%" *ngIf="routeAfterAddingCard && cards.length > 0">
                    <Button text="USE EXISTING CARD" class="text-aligncenter custom-primary"  (tap)="routeToSummary()"
                        style="height: 50; width: 50%; border-radius: 40;"></Button>
                </StackLayout>

            </StackLayout>
        </ScrollView>
    </ScrollView>
</DockLayout>