<DockLayout stretchLastChild="true">


  <app-header height="15%" dock="top"> </app-header>
  <app-footer dock="bottom" height="7%"></app-footer>
  <ScrollView orientation="Vertical" height="100%" class="body-bg-1" row="1">
    <ScrollView orientation="Vertical">

      <StackLayout orientation="Vertical" width="100%">

        <StackLayout class="" orientation="vertical" width="80%" height="100%" verticalAlignment="bottom" *ngIf="type==='check-in'">


          <StackLayout orientation="vertical" width="100%" verticalAlignment="center">
            <Label class="m-15 sign-in text-aligncenter header-text" textWrap="true"
              style="color: rgb(34, 65, 148); font-size: 35;"
              text="Enter the belongings for the pet separated by comma"></Label>
            <TextView [(ngModel)]="petBelongings" height="40%" hint="e.g. Collar, leash, toy" class="input-form">
            </TextView>
          </StackLayout>

          <StackLayout orientation="vertical" width="100%" verticalAlignment="center">
            <Label class="m-15 sign-in text-aligncenter header-text" textWrap="true"
              style="color: rgb(34, 65, 148); font-size: 35;" text="Reservation Notes"></Label>
            <TextView [(ngModel)]="notes" height="40%" hint="Enter any reservation notes here" class="input-form"></TextView>
          </StackLayout>

          <StackLayout orientation="horizontal" width="100%" verticalAlignment="bottom">
            <Button text="Back" class="text-aligncenter custom-primary" (tap)="goBack()"
              style="height: 80; width: 45%; border-radius: 10;font-size: 30;"></Button>
            <Button text="Check In" class="text-aligncenter green-color" (tap)="addNotesAndBelongings()"
              style="height: 80; width: 45%; border-radius: 10;font-size: 30;"></Button>
          </StackLayout>

        </StackLayout>
        <StackLayout class="" orientation="vertical" width="80%" height="100%" verticalAlignment="bottom" *ngIf="type==='check-out'">
          <StackLayout orientation="vertical" width="100%" verticalAlignment="center">
            <Label class="m-15 sign-in text-aligncenter header-text" textWrap="true"
              style="color: rgb(34, 65, 148); font-size: 35;"
              text="Collect your belongings before you leave"></Label>
            <Label class="m-15 sign-in text-aligncenter header-text" textWrap="true"
            style="color: black; font-size: 30;"
            text="{{appointment.belongingsNotes}}"></Label>
          </StackLayout>
          <StackLayout orientation="horizontal" width="100%" verticalAlignment="bottom">
            <Button text="Back" class="text-aligncenter custom-primary" (tap)="goBack()"
              style="height: 80; width: 45%; border-radius: 10;font-size: 30;"></Button>
            <Button text="Continue" class="text-aligncenter green-color" (tap)="goTOInvoice()"
              style="height: 80; width: 45%; border-radius: 10;font-size: 30;"></Button>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </ScrollView>


</DockLayout>

<app-loading [isLoading]="isLoading"></app-loading>
