<DockLayout stretchLastChild="true" >
 
    <app-header  height="15%" dock="top" > </app-header>
<Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8" >
    
    <StackLayout orientation="vertical"  >
      
        <!-- <WrapLayout orientation="horizontal" width="100%">                    
                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="All DOGS must be members of West Street Dog. Please see a bartender to sign up!"></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList" >    
                        <TextField hint="Enter text" class="input-fields">
             </TextField>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="Humans must be 21+ to enter the off-leash park. Don’t forget a valid ID!"></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList">    
                        <TextView hint="Enter some text..."   class="input-fields">
              </TextView>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="All canine and human visitors enter this area at their own risk!"></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList">    
                        <Label class="questionaries-title" textWrap="true" text="Humans"></Label> <Switch color="#07235c" backgroundColor="#557dd3" offBackgroundColor="#ddd">
                        </Switch>  <Label class="questionaries-title" textWrap="true" text="Humans"></Label>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="Dogs are to be OFF LEASH ONLY in this area."></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList">    
                        <CheckBox #CB1 text="CheckBox Label" checked="false"></CheckBox>
                    </StackLayout>
                </StackLayout>

                <StackLayout orientation="vertical" class="card">                        
                    <Label class="questionaries-title" textWrap="true" text="West Street Dog will not be involved in any disputes between patrons and/or members. Be kind 😊"></Label> 
                    <StackLayout orientation="horizontal" class="q-answnerList">    
                          <Label class="questionaries-answer questionaries-answer-active" textWrap="true" text="YES"></Label>
                          <Label class="questionaries-answer" textWrap="true" text="NO"></Label>
                    </StackLayout>
                </StackLayout>
        </WrapLayout> -->


        <StackLayout orientation="Vertical" backgroundColor="">
            <StackLayout orientation="vertical" backgroundColor="" *ngFor="let reservation of reservations">
                <StackLayout class="MyLabel pdt" orientation="horizontal" width="100%" height="50" backgroundColor="lightgray">
                    <Label class="pt-30 " style="font-size: 17;" text="ADDITIONAL INFORMATION FOR {{reservation.name.toUpperCase()}}"></Label>
                </StackLayout>
                <StackLayout orientation="vertical" width="100%" height="100%" *ngFor="let question of reservation.questions">
                    <StackLayout orientation="vertical" width="98%" *ngIf="!question.deleted" style=" padding-top:10;margin-top:15; background-color:#fff" class="border-btn">
                        <Label textWrap="true" style="font-size: 25; text-align:left;" class="pt-30 " text="{{question.question}}"></Label>
                        <TextView [(ngModel)]="question.answer" hint="Answer" class="input-form pt-30"></TextView>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
                   
        <StackLayout orientation="horizontal" horizontalAlignment="center" >
            <Button text="Back" row="0" cols="1" horizontalAlignment="center" class="text-aligncenter center custom-primary" (tap)="back()"
                style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button>
            <Button text="Done" row="0" cols="2" horizontalAlignment="center" class="text-aligncenter center  green-color" (tap)="updateAnswersInAppointment()"
                style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button> 
        </StackLayout>
    </StackLayout>
</Scrollview>
</DockLayout>