<!-- <app-header></app-header> -->

<ScrollView orientation="Vertical" class="bottom-gradient" width="100%" >


    <StackLayout orientation="Vertical" width="450" class="login-border" >
        
        <StackLayout orientation="Vertical" width="85%" height="82%" class=" mb" verticalAlignment="center" horizonalAlignment="center">
          
            <StackLayout class="" orientation="vertical" width="80%" verticalAlignment="center"> 
                <Image src="~/assets/Logo.png"   verticalAlignment="center" class="text-aligncenter logo_img" width="150"height="150"></Image>
    
                <Label class="m5 sign-in text-aligncenter" text="Log In"></Label>
            </StackLayout>
            <StackLayout class="input-field" style="margin-bottom: 20px; margin-top: 20;">
                <TextField class="input-form f3" name="email" hint="E.g. user@example.com" keyboardType="email"
                    [(ngModel)]="email" autocorrect="false" autocapitalizationType="none"></TextField>
            </StackLayout>
            <StackLayout class="input-field" style="margin-bottom: 20px;">
                <TextField class="input-form f3" name="email" hint="Password" keyboardType="email" [(ngModel)]="password"
                    secure="true" autocorrect="false" autocapitalizationType="none"></TextField>
            </StackLayout>
        <Label textWrap="true" class="h4 text-center" text={{errorMsg}} style="margin-top: 10px; color: #e46c6c;"></Label>
            <Button text="Sign In" class="text-aligncenter f3 custom-primary" style="height: 50; width: 85%; border-radius: 40;background-color: rgb(22, 22, 88);" (tap)="login()"></Button>
            <Label textWrap="true" class="text-center f3" text="Forgot your password?" style="margin-top: 10px; font-size: 17;" (tap)="goToForgotPass()"></Label>
        </StackLayout>
      
    <StackLayout class="" orientation="vertical" width="100%" verticalAlignment="bottom" height="10%" class="footer-menu"> 
            <Image src="~/assets/Made-with-love.png"   verticalAlignment="center" class="text-aligncenter foote_img " ></Image>
    </StackLayout>  
    
    </StackLayout>
               
</ScrollView>

<app-loading [isLoading]="isLoading"></app-loading>

<!-- <app-footer></app-footer> -->
