/* Add mobile styles for the component here.  */
.m5 {
    margin: 5;
}
.f3
{
    font-size: 22 !important;
}
.sign-in {
    font-size: 25;
    font-weight:500; 
}

.text-aligncenter {
    text-align:center;
	line-height:1.5;
}
.login-border
{
    border-width: 1;
    border: rgb(185, 185, 185);
    border-radius: 10;
    height: 85%;
    background-color:white;
    padding: 20;
}

.logo_img
{
   text-align: center;
   height: 150px;
   width: 150px;
   vertical-align: middle;
}
.bottom-gradient {
    background: linear-gradient(-45deg, rgb(20, 9, 59), rgb(16, 92, 16));
}
.foote_img
{
    width: 550px;
   
}
.footer-menu
{
    border-top-width:1;
    border-color: rgb(185, 185, 185);
    margin-top: 20;
}

