<DockLayout stretchLastChild="true">

    <app-header height="15%" dock="top"> </app-header>
    <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8">

        <ScrollView orientation="Vertical">
            <StackLayout>
                <HtmlView html="{{agreement.agreement.content}}"></HtmlView>
                <!-- <StackLayout orientation="vertical" width="100%"> -->
                    <Label class="bolder text-center" textWrap="true" text="Typed Name Constituting Legal Signature" style="font-size: 15; margin-top:50px; margin-bottom: 30px;" *ngIf="agreement.userAgreementStatus != 'SIGNED'"></Label>
                    <TextField [(ngModel)]="signature" hint="Name" class="input-form" *ngIf="agreement.userAgreementStatus != 'SIGNED'"></TextField>
                    <Button text="Accept" class="text-aligncenter custom-primary" style="height: 50; width: 60%; border-radius: 40;" (tap)="acceptAgreement()" *ngIf="agreement.userAgreementStatus != 'SIGNED'"></Button>
                <!-- </StackLayout> -->
            </StackLayout>

        </ScrollView>

    </Scrollview>
</DockLayout>

<app-loading [isLoading]="isLoading"></app-loading>