<DockLayout stretchLastChild="true" >
 
    <app-header  height="15%" dock="top" > </app-header>
    <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8" >
        <StackLayout orientation="vertical"  >

            <StackLayout orientation="Vertical" backgroundColor="">
                    <StackLayout orientation="vertical" width="100%" height="100%" *ngFor="let question of questions">
                        <StackLayout orientation="vertical" width="98%" style=" padding-top:10;margin-top:15; background-color:#fff" class="border-btn">
                            <Label textWrap="true" style="font-size: 25; text-align:left;" class="pt-30 " text="{{question.question}}"></Label>
                            <TextView [(ngModel)]="question.answer" hint="Answer" class="input-form pt-30"></TextView>
                        </StackLayout>
                    </StackLayout>
            </StackLayout>
                
            <StackLayout orientation="horizontal" horizontalAlignment="center" *ngIf="questions.length > 0">
                <!-- <Button text="Back" row="0" cols="1" horizontalAlignment="center" class="text-aligncenter center custom-primary" (tap)="back()"
                    style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button> -->
                <Button text="Done" row="0" cols="2" horizontalAlignment="center" class="text-aligncenter center  green-color" (tap)="updateAnswersInAppointment()"
                    style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button> 
            </StackLayout>

        </StackLayout>
    </Scrollview>
</DockLayout>