<!-- <FlexboxLayout
  justifyContent="space-around"
  backgroundColor="#3c495e">
  <label text="Are you an existing RunLoyal customer?" textAlignment = "center" height="70" backgroundColor="#43b883"></label>
  <label
    text="second"
    alignSelf="center"
    width="70"
    height="70"
    backgroundColor="#1c6b48"
  ></label>
  <label
    text="third\nflex-end"
    alignSelf="flex-end"
    width="70"
    height="70"
    backgroundColor="#289062"></label>
  <label text="fourth" height="70" backgroundColor="#289062" ></label>
</FlexboxLayout> -->



<DockLayout stretchLastChild="true">


  <app-header height="15%" dock="top"> </app-header>
  <app-footer dock="bottom" height="7%"></app-footer>
  <ScrollView orientation="Vertical" height="100%" class="body-bg-1" row="1">
    <ScrollView orientation="Vertical">
      <StackLayout orientation="Vertical" width="100%" height="100%" verticalAlignment="middle">
        <StackLayout orientation="Vertical" width="100%" height="50%">

          <StackLayout class="" orientation="vertical" width="75%" height="100%" verticalAlignment="top">

            <StackLayout width="100%">
              <Label class="m-15 sign-in text-aligncenter header-text"
                style="color: #172B4D; font-size: 50;margin-bottom: 20;font-weight: bold;" *ngIf="type==='check-in'"
                text="CHECK IN" textWrap="true"></Label>
              <Label class="m-15 sign-in text-aligncenter header-text"
                style="color: #172B4D; font-size: 50;margin-bottom: 20;font-weight: bold;" *ngIf="type==='check-out'"
                text="CHECK OUT" textWrap="true"></Label>
            </StackLayout>

            <Label textWrap="true" class="m-15 sign-in text-aligncenter header-text"
              style="color: #172B4D; font-size: 35;" text="Enter your registered email or mobile below"
              verticalAlignment="top"></Label>

            <StackLayout orientation="horizontal" width="100%" verticalAlignment="top" class="text-aligncenter"
              horizontalAlignment="center">
              <TextField verticalAlignment="top" class="input-form" style="color: black; font-size: 20;" name="email"
                placeholderTextColor="#003" hint="Email or Mobile Number" textAlignment="center" [(ngModel)]="name"
                autocorrect="false" returnKeyType="done" autocapitalizationType="none"
                (returnPress)="onReturnPress($event)" (focus)="onFocus($event)" (blur)="onBlur($event)" width="80%">
              </TextField>
            </StackLayout>
            
            <StackLayout orientation="horizontal" width="100%" class="text-aligncenter" horizontalAlignment="center">
              <Button text="Back" class="text-aligncenter custom-primary" (tap)="goBack()"
                style="height: 80; width: 49%; border-radius: 10;font-size: 30;"></Button>
              <Button text="Continue" class="text-aligncenter green-color" (tap)="getAppointments()"
                style="height: 80; width: 49%; border-radius: 10;font-size: 30;"></Button>
            </StackLayout>

            <Label textWrap="true" class="m-15 sign-in text-aligncenter header-text"
              style="color: black; font-size: 50;" text="Or" verticalAlignment="top"></Label>

            <Image src="~/assets/scan.png" verticalAlignment="center" width="150" class="text-aligncenter"
              (tap)="scanQRCode()" style="padding: 10; vertical-align: top;"></Image>

            <Label textWrap="true" class="m-15 sign-in text-aligncenter header-text"
              style="color: #172B4D; font-size: 25;margin-bottom: 10;" text="Scan QR Code"
            verticalAlignment="top"></Label>

            <!-- <Button text="Scan QR Code" class="text-aligncenter custom-primary" (tap)="scanQRCode()" style="height: 80; width: 60%; border-radius: 10;font-size: 30;"></Button> -->

            <!-- <Label textWrap="true" class="m-15 sign-in text-aligncenter header-text" style="color: #172B4D; font-size: 35;"
              text="I'm a new user" verticalAlignment="top" (tap)="sendInvite()"></Label> -->

          </StackLayout>

        </StackLayout>
      </StackLayout>
    </ScrollView>
  </ScrollView>
</DockLayout>


<app-loading [isLoading]="isLoading"></app-loading>