
<DockLayout stretchLastChild="true" >
 

    <app-header  height="15%" dock="top" > </app-header>
    <app-footer dock="bottom" height="7%" ></app-footer>
    <ScrollView orientation="Vertical" height="100%" class="body-bg-1" row="1">
        <ScrollView orientation="Vertical">
    
  <StackLayout orientation="Vertical" width="100%">
    <Label text="We found multiple appointments, please select the appointment you want to {{type}}" style="font-size: 30px; text-align: center; padding: 50px;" class="date"  textWrap="true"></Label>

    <StackLayout class="" *ngIf="appointmentsList.length>0" orientation="vertical" width="100%" height="100%" verticalAlignment="">
    
        <StackLayout *ngFor="let appointment of appointmentsList" orientation="vertical">
            <StackLayout class="card" orientation="vertical" width="90%" style="background-color: #fff;">
                <StackLayout orientation="horizontal" width="100%" class="">
                    <StackLayout class=" text-left bord-r" width="20%" orientation="vertical" class="pt10" (tap)="selectAppointment(appointment)" verticalAlignment="center">
                        <Label text="{{getDay(appointment.appointmentDate)}}" style="font-size: 50px; text-align: left;" class="date"></Label>
                        <Label text="{{getMonthYear(appointment.appointmentDate)}}" style="font-size: 25px;" class="border-btm"></Label>
                    </StackLayout>
                    <StackLayout class="" width="60%" style="font-size: 25px;" orientation="vertical"  (tap)="selectAppointment(appointment)">
                        <StackLayout orientation="vertical" *ngFor="let appointmentDetail of appointment.appointmentDetails">
                            <StackLayout orientation="vertical" *ngFor="let reservationType of appointmentDetail.reservationTypes">
                                <Label class="bolder select-header" text="{{appointmentDetail.pet.name}} - {{reservationType.name}}"></Label>
                            </StackLayout>
                        </StackLayout>
                        <Label class="bolder select-subheader" style="font-size: 25px; " text="{{appointment.status.split('_').join(' ')}}" *ngIf="appointment.status != 'CHECKIN'"></Label>
                        <Label class="bolder select-subheader" style="font-size: 25px;" text="CHECKED IN" *ngIf="appointment.status == 'CHECKIN'"></Label>
                        <Label text="{{appointment.location.locationName}}"></Label>
                        <Label textWrap="true" text="{{getAppointmentDescription(appointment)}}"></Label>
                        <Label textWrap="true" text="{{getReadableDate(appointment.appointmentDate)}} - {{getReadableDate(appointment.appointmentEndTime)}}" *ngIf="appointment.appointmentDetails[0].reservationTypes[0].serviceBasedOn != 'CAPACITY_BASED'"></Label>
                        <Label textWrap="true" text="{{getReadableDate(appointment.appointmentDate)}}"  *ngIf="appointment.appointmentDetails[0].reservationTypes[0].serviceBasedOn == 'CAPACITY_BASED'"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
      
    </StackLayout>
  </StackLayout>
  </ScrollView>
    </ScrollView>
  
  
  </DockLayout>
