.card
{
    border-radius: 20;
    border-color: rgb(28, 29, 107);
    border-width: 3;
    padding: 30;
    margin-bottom: 20;
}
.text-left
{
text-align: left;
}
.bord-r
{
border-color: rgb(28, 29, 107);
border-width: 10;
}
.text-right
{
    text-align: right;
}
.select-subheader
{
    color:seagreen;
    font-size: 28px;
    font-weight: 600;
}
.select-header
{
    font-size: 30px;
    color:rgb(27, 26, 97);
    font-weight: 900;
    
}