<Gif #loadingGif style="width: 10%;" src="~/assets/runloyal_loading.gif" *ngIf="isLoading"></Gif>

<Label *ngIf="isLoading && showText" text="Fetching data..." class="text-primary" style="text-align: center; z-index: 123400;"></Label>