/* Add mobile styles for the component here.  */
/* Add mobile styles for the component here.  */
.home-panel{
    vertical-align: center; 
        margin: 15;
}

.description-label{
        color: #6D6D6D;
    padding: 20;
    font-size: 25;
    font-weight: 400;
}
.alert_img
{
    width:100;
    height:100;
}
.title-label{
    margin-top: 10;
    color: black;
    padding: 20;
    font-size: 30;
    font-weight: 900;
}
.my-button {
    /* android-elevation: 4; */
    background-color: lightseagreen;
    border-color: darkolivegreen;
    border-radius: 20;
    border-width: 1;
    color: whitesmoke;
    font-size: 20;
    font-weight: bold;
}
.p-20
{
    padding: 20;
}
.input-form {	
    border-radius:5%;
    border-color:#172B4D;
    border-width: 2;
    margin:0;
    padding:15 10;
    width:90%;
    font-size:25;
}
.my-button:active {
    /* android-elevation: 8; */
    background-color: whitesmoke;
    border-color: darkolivegreen;
    border-radius: 20;
    border-width: 1;
    color: lightseagreen;
    font-size: 20;
    font-weight: bold;
}

.cb-label {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

	
.input-form-iamhere{
    border-radius:5%;
    border-color:#ddd;
    border-width: 1;
    margin:0;
    margin-top: 10px;
    padding:10 10;
    width:90%;
    font-size:19;
}

.input-form-address{
    border-radius:5%;
    border-color:#ddd;
    border-width: 1;
    margin:0;
    padding:20 10;
    width:90%;
    font-size:20;
}