<StackLayout>
    <StackLayout class="home-panel" *ngIf="isDefaultPopup" style="text-align: center;">
        <Image  src="{{context.image}}" verticalAlignment="center" class="text-aligncenter alert_img"></Image>
        <Label textWrap="true" text="{{context.header}}" class="h3 title-label"></Label>
        <Label textWrap="true" text="{{context.description}}" class="h4 description-label" ></Label>
    
        <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Button *ngIf="context.cancelText" text="{{context.cancelText}}" class="danger-primary" (tap)="closeAndStay()" style="border-radius: 30px; font-size: 22;" width="40%"></Button>
            <Button text="{{context.okText}}" (tap)="defaultOkay()" style="border-radius: 30px; font-size: 22;" class="green-color" width="40%"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>