@import "@nativescript/theme/css/core.css";
@import "@nativescript/theme/css/default.css";
*
{
    font-family: "Montserrat", "Montserrat-Bold";
font-weight: bold;
}
/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */
.drawingPad
{
    border-color:#172B4D;
    border-width: 2;
    margin: 10;
}
.btns
{
    border-color: #172B4D;
    border-width: 1;  
}
.custom-primary {
    background-color: #172B4D;
    color: #ffffff;
} 
.danger-primary {
    background-color: #9b1a1a;
    color: #ffffff;
} 

.blue-color {
    background-color: #172B4D;
}

.green-color {
    background-color: #41A049;
    color: #ffffff;
}

.input-form {	
    border-radius:5%;
    border-color:#172B4D;
    border-width: 2;
    margin:0;
    padding:20 10;
    width:90%;
    font-size:30;
}

.h4 {
	font-size:15;
}

.text-center {
    text-align: center;
}

.header-text
{
    color: #172B4D;
    font-size: 30;

}
.m-15
{
    margin:15;
}.pt-30
{padding:30px;
}