<DockLayout stretchLastChild="true">

    <app-header height="15%" dock="top"> </app-header>
    <Scrollview orientation="vertical" scrollBarIndicatorVisible="false" height="100%" background="#f7f7f8">

        <ScrollView orientation="Vertical">

            <StackLayout orientation="vertical" style="margin-bottom: 10px;" *ngIf="agreements.length > 0">
                <StackLayout class="card" orientation="vertical" width="98%"
                    style="background-color: #fff;margin-top:15;" (tap)="goToAgreement(agreementObj)"
                    *ngFor="let agreementObj of agreements">
                    <StackLayout orientation="vertical" width="100%" class="">
                        <Label textWrap="true" style="font-size: 25; text-align: left;" class=" pt-30 bolder"
                            text="{{agreementObj.agreement.name}}"></Label>
                        <Label textWrap="true" style="font-size: 18; text-align: left;" class=" pt-30 mptl"
                            text="SIGNED ON {{getReadableDateShort(agreementObj.signedDate)}}"
                            *ngIf="agreementObj.userAgreementStatus == 'SIGNED'"></Label>
                        <Label textWrap="true" style="font-size: 18; text-align: left;" class=" pt-30 mptl"
                            text="REQUESTED" *ngIf="agreementObj.userAgreementStatus == 'REQUESTED'"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>

            <Button text="Back" horizontalAlignment="center" class="text-aligncenter center custom-primary" (tap)="back()"
                style="height: 60; width: 40%; border-radius: 10;font-size: 22;"></Button>

        </ScrollView>

    </Scrollview>
</DockLayout>

<app-loading [isLoading]="isLoading"></app-loading>