<DockLayout stretchLastChild="true">
    <app-header height="15%" dock="top"> </app-header>
    <app-footer dock="bottom" height="7%"></app-footer>
    <StackLayout width="100%" height="100%">
    
    <StackLayout orientation="Vertical" height=95% width="100%">
        <WebView width="100%" height="100%" #webView *ngIf="isWebview" (loaded)="onWebViewLoaded($event)" ></WebView>
    </StackLayout>
    <GridLayout class="transparent" height=5% orientation="horizontal" width="20%" horizontal  *ngIf="isWebview">
        <StackLayout class="transparent">
            <Button class="text-aligncenter custom-primary fas" style="border-radius: 10; padding: 5;" text="Close" (tap)="closeWebview()"></Button>
        </StackLayout>
    </GridLayout>
</StackLayout>

</DockLayout>

<app-loading [isLoading]="isLoading"></app-loading>


<!-- <DockLayout>
    <app-header height="15%" dock="top"> </app-header>
    <app-footer dock="bottom" height="7%"></app-footer>
     <StackLayout orientation="Vertical" style="margin-top:50" width="100%" height="80%"> 
        <WebView width="100%" height="71%" #webView *ngIf="isWebview" (loaded)="onWebViewLoaded($event)" ></WebView>
    </StackLayout>
        <GridLayout class="transparent" height="7%" dock="top" orientation="Vertical" VerticalAlignment="right" width="20%"  *ngIf="isWebview">      
            <Button class="text-aligncenter custom-primary fas" style="border-radius: 10; padding: 5;" text="X" (tap)="closeWebview()"></Button>
    </GridLayout>
</DockLayout> -->